registry=https://my-domain-524516505586.d.codeartifact.us-east-1.amazonaws.com/npm/npm-store/
//my-domain-524516505586.d.codeartifact.us-east-1.amazonaws.com/npm/npm-store/:always-auth=true
//my-domain-524516505586.d.codeartifact.us-east-1.amazonaws.com/npm/npm-store/:_authToken=${CODEARTIFACT_AUTH_TOKEN}